* {
   box-sizing: border-box;
}

body {
   font-family: Verdana, sans-serif;
}


h1 {
   width: 50vw;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
   font-size: 74px;
   margin: auto;
}

div {
   height: 200px;
   background-color: coral;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   line-height: 200px;
}