.box {
   padding: 50px;
   border: 2px solid black;
}


.box-blue {
   margin: 50px;
   background-color: blue;
}

.box-yellow {
   background-color: yellow;
}

.box-green {
   background-color: green;

}

.box-pink {
   background-color: pink;
}