.marg {
   margin: 0 0 50px 50px;
   box-sizing:border-box;
}

.rectangle {
   border-radius: 16px;
   background-color: forestgreen;
   width: 100px;
   height: 50px;
   margin: 50px 0 50px 50px;
}

.oval {
   background-color: darkmagenta;
   width: 100px;
   height: 50px;
   border-radius: 50px;
}

.circlerg {
   border-radius: 50px;
   width: 100px;
   height: 100px;
   background-color: aquamarine;
}

.triangle {
   width: 50px;
   height: 50px;
   border:50px solid transparent;
   border-top-color: brown;
}